# MySQL Creds
DB_HOST=kiwiplans.ccbu6rxt9lz2.ap-south-1.rds.amazonaws.com
DB_USER=
DB_PASS=""
DB_NAME=ap_website
DB_PORT=3306

# Backend Creds
BASIC_AUTH_USER=localHost
BASIC_AUTH_PASS="2GSz@MU#Zq*ypL"
NEXT_PUBLIC_BASIC_AUTH_USER=localHost
NEXT_PUBLIC_BASIC_AUTH_PASS="2GSz@MU#Zq*ypL"

# URLs
INTERNAL_ASSETS_ORIGIN=http://localhost:3011
NEXT_PUBLIC_API_URL=http://localhost:3011/api
NEXT_PUBLIC_CANONICAL_URL=http://localhost:3010
NEXT_PUBLIC_JAVA_BACKEND_URL=https://api.kiwiplans.com
NEXT_PUBLIC_WEBAPP_REDIRECTION_URL=https://kiwiplans.com/apps/
NEXT_PUBLIC_NEW_WEBAPP_REDIRECTION_URL=https://kiwiplans.com/webApp/

# SMTP Creds
ADMIN_EMAIL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

BACKEND_PORT=3011
NEXT_PUBLIC_BASIC_AUTH_TOKEN=d2ViOnNlY3JldEtleQ==
JWT_SECRET=fdabbedf022c4a3edf98c37c2cffedcf10ec80892cf2f14f75744bd9fec038000b43238b3bb3b33cfcb02208e1034e7ceb16e898807acb0dc8bd68f4dbe8f56f
SESSION_SECRET=70b83e6b440c8b60fe75c41293dd14a811b10ba03e9506e321d420cbe48c36121dd54fc46dc2c0c8accff6f64fd45491bfbc84eae5cf6a391dea5d0c736d82af
